<header class="site-header">
    <div class="container">
        <a class="brand" href="/">CSE Motors</a>
        <a class="account" href="#" aria-label="My Account">My Account</a>
    </div>
</header>