<nav class="site-nav" aria-label="Primary">
    <ul class="container">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Custom</a></li>
        <li><a href="#">Sedan</a></li>
        <li><a href="#">SUV</a></li>
        <li><a href="#">Truck</a></li>
    </ul>
</nav>